argparse-addons==0.12.0
bitstruct==8.19.0
cantools==39.4.5
crccheck==1.3.0
diskcache==5.6.3
msgpack==1.0.8
numpy==1.26.4
packaging==24.0
pyqtgraph==0.13.4
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
-e git+https://github.com/envgoinc/python-can.git@ef081b573140aa6fcdbef2b970e363f2e825590d#egg=python_can
shiboken6==6.6.2
textparser==0.24.0
typing_extensions==4.10.0
wrapt==1.16.0
